<h1>About iTrack</h1>
<h3>Underclassmen</h3>
<p>Help you plan a cirriculum that suites your goals and career plans based on the tracks upperclassmen and alumni have taken before you.</p>
<p>Find tips for concoring tough classes, or picking out easy electives for distribution credit.</p>
<p>Considering a major switch? Pre-med not for you?  Look at where you stand in other majors, where they will take you, and consider options for change to graduate on your terms</p>
<p>Strongly considering switching, find the appropriate department advisors on our pages</p>
<h3>Upperclassmen</h3>
<p>Plan courses for grad school, or industry, while picking up tips about classes from alumni who graduated in your perspective field.</p>
<p>Look at internships peers in your major or with your dream job have had before you and what they thought about it</p>
<h3>Alumni</h3>
<p>Define what consulting is and what it takes to do it.</p>
<p>Pass on your wisdom of professors, and classes to undergrads picking classes and careers.</p>
<p>Provide insight from industry or grad school.</p>
<p>Create a feedback loop of knowledge to help students make informed decisions about their majors and plans after graduation.</p>