<% provide(:title, 'Contact') %>
<h1>Contact the iTrack Team</h1>
<p>Do you have suggestions for making iTrack better?</p>
<p>Discovered errors in a major, or a change in requirements for a major that we have not yet updated?</p>
<p>Shoot us an email at itrackteam@gmail.com!</p>