<% provide(:title, 'Search Results') %>
<h1>Found users</h1>
<h5> <%= link_to "Back to Search", '/users' %> </h5>


<% if @users.empty? == false %>

	<%= will_paginate %>

	<ul class="users">
  		<% @users.each do |user| %>
    		<%= render user %>
  		<% end %>
	</ul>

	<%= will_paginate %>

<% else %>

	<p> No Users Found. </p>

<% end %>