<% for corereq in d %>
  <h5><%= corereq.corereqname %></h5>
  <% e = corereq.ccourses.all %>
  <% count = 0 %>
  <% coun = 0 %>
  <ul><li>
  <% for course in e %>
    <% if !coursearray.include?(course.department + " " + course.num.to_s) %>
      <%= course.department + " " + course.num.to_s %>
      <% count += 1 %>
      <% coun += 1 %>
      <% if coun != e.length %>
      ,
      <% end %>
    <% else %>
      <div style = "text-decoration: line-through;display:inline-block;" >
        <%= course.department + " " + course.num.to_s %>
        <% coun += 1 %>
        <% if coun != e.length %>
        ,
        <% end %>
      </div>
    <% end %>
  <% end %>
  </li></ul>
  <% if count == 0 %>
    Requirement Complete
  <% end %>
  
<% end %>