

<%# taken = Hash.new %>
<%# taking = Hash.new %>
<%# wtake = Hash.new %>
<%# user_courses = Hash.new %>
<%# coursearray = Array.new %>

<% if signed_in? %>
  <h1>BA</h1><p>Bachelor of Arts Degrees</p>
  <hr width="100%">
  <%# render :partial => "shared/coursesort", :locals => {:aps => @aps, :transfers => @transfers, :years => @years, :taken => @taken, :taking => @taking, :wtake => @wtake, :user_courses => @user_courses, :coursearray => @coursearray} %> <!-- may not need this partial once the new serialization methods are up and running -->

  <%= render 'undergrad/search' %>

  <%= render "showpartials/trackdisp0", :@achievementtypehash => @achievementtypehash, :taken => @taken, :taking => @taking, :wtake => @wtake,  :user_courses => @user_courses, :@cuser_courses => @cuser_courses %>

<% else %>
  <%= render 'shared/signup' %>
<% end %> 