<div class="nav pull-right" %>
  <li><%= link_to "Home",    '#' %></li>
  <li class="divider-vertical"></li>
  <li><%= link_to "Help",    '#' %></li>
  <li class="divider-vertical"></li>
  <li><%= link_to "Sign in", signin_path %></li>
</div>